{% extends 'base.html.twig' %}

{% block title %}{{ 'cart'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'cart'|trans }}</h1>

            {% for p in panier.contenuPaniers %}
            {% else %}
                <div class="alert alert-info mt-5">{{ 'cart.empty'|trans }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
