<form method="post" action="{{ path('contenu_panier_delete', {'id': contenu_panier.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu_panier.id) }}">
    <button class="btn btn-danger">{{ 'cart.remove'|trans }}</button>
</form>
