{% extends 'base.html.twig' %}

{% block title %}{{ 'error.title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ 'error.404'|trans }}
        </div>
    </div>
{% endblock %}