
{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.profile'|trans }}{% endblock %}

{% block body %}
    <h1 class="mb-3">{{ 'profile.edit' }}</h1>

    {{ include('user/_form.html.twig', {
        'button_label': 'profile.edit'|trans,
        'form': userEditForm
    }) }}
{% endblock %}
